body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
